body {
    background-color: #999;
}

.container {
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    border-radius: 5px;
    background-color: #F7F9F9;
}

.cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.cat__container {
    flex: 6;
    display: flex;
    width: 100%;
    height: 100%;
}

.cat__img {
    max-height: 420px;
    max-width: 640px;
}

.cat__name {}

.cat__counter {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 180px;
    width: 80px;
    background: #000;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
}
